

<%= form_for [@board, @pin] do |f| %>

	<p><%= f.label :title %>
	<%= f.text_field :title %></p>

<p>	<%= f.label :'Image URL' %>
	<%= f.text_field :img_url, class: 'field' %></p>

	<%= f.submit 'Update', class: 'enter' %>

<% end %>
