<h2> <%= @board.title %></h2>
<% if @board.user == current_user %>
	<p class ="enter"><%= link_to 'Change Board Title', edit_board_path(@board)%></h3>
	<p class ="enter"><%= link_to 'Add a New Pin', new_board_pin_path(@board) %></h3>
	<% else %>
<% end %>
<h3>A board by... <%= @board.user.email %></h3>


<% @pins.each do |pin| %>
	<div class="pin"><%= link_to board_pin_path(@board, pin) do %>
    	<%= image_tag pin.img_url, class: "pin_gallery" %><% end %>
	<p><%= pin.title %></p></div>
<% end %>
