<!DOCTYPE html>
<html>
<head>
  <title>PinInterest</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <h3><%= link_to 'PinInterest', boards_path %></h3>
  <% if current_user %>
    <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
    <h3><%= link_to 'New Board', new_board_path %></h3>
   <% else %>
     <h3><%= link_to 'Signup', new_user_registration_path %> * <%= link_to 'Login', new_user_session_path %></h3>
   <% end %>
 </nav>
<div class= "container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


<%= yield %>
</div>
</body>
</html>
